<configuration>

        <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/university_crud.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/university_crud.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>1MB</maxFileSize>
            </triggeringPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>
            </encoder>
        </appender>

        <root level="debug">
            <appender-ref ref="ROLLING" />
        </root>

<!--        <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--            <file>logs/university_crud.log</file>-->

<!--            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--                <fileNamePattern>logs/university_crud.%d{yyyy-MM-dd}.log</fileNamePattern>-->

<!--                <maxHistory>7</maxHistory>-->
<!--            </rollingPolicy>-->

<!--            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--                <maxFileSize>1MB</maxFileSize>-->
<!--            </triggeringPolicy>-->

<!--            <encoder>-->
<!--                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>-->
<!--            </encoder>-->
<!--        </appender>-->

<!--        <root level="debug">-->
<!--            <appender-ref ref="ROLLING" />-->
<!--        </root>-->
    <!--
 <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
     <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
     </encoder>
 </appender>

 <root level="debug">
     <appender-ref ref="CONSOLE" />
 </root>
-->
    </configuration>